// Colors
$lorange: #FFFBEC;
$alorange: #FFF8E1;
$brown: #372E11;
$lbrown: #8E825C;
$yellow: #FFE07E;
$lyellow: #FFE182;
$grey: #EDEDED;
$green: #0E493F;
$metall: #B9B3B3;

// media queries
$phone-min: 320px;
$phone-max: 767px;
$tablet-min: 768px;
$tablet-max: 1365px;
$desktop-min: 1366px;
$desktop-max: 1920px;
