<header class="header">
  <div class="container header__container">
    <div class="header__logo">
      <a href="/">
        <picture>
          <source type="image/webp" srcset="img/logo.webp" media="(min-width: 768px)">
          <source type="image/webp" srcset="img/logo--mobile.webp">
          <source srcset="img/logo.png" media="(min-width: 768px)">
          <img src="img/logo--mobile.png" width="98" height="86" alt="Логотип Modesto flowers">
        </picture>
      </a>
    </div>
    <nav class="header__nav">
      <ul>
        <li>
          <a href="#">Магазины</a>
        </li>
        <li>
          <a href="#">Контакты</a>
        </li>
        <li>
          <a href="#">О нас</a>
        </li>
      </ul>
    </nav>
    <div class="header__tel">
      <a href="tel:+36787547894">+3 67 8754 7894</a>
    </div>
    <div class="header__language">
      <a class="header__language-item header__language-item--active" href="#">Ru</a><a class="header__language-item" href="#">Eng</a>
    </div>
    <div class="header__sign-buttons">
      <button class="header__sign-button header__sign-button--signin" type="button">Войти</button>
      <button class="header__sign-button header__sign-button--signup" type="button">Создать аккаунт</button>
    </div>
    <div class="header__toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</header>
