<section class="main-slide">
  <div class="container main-slide__container">
    <div class="main-slide__wrapper">
      <div class="main-slide__text">
        <h1>Мы будем рады сотрудничать с вами на Международной цветочной онлайн-площадкe!</h1>
        <p>Присоединяйтесь к нам и начните получать доход с бизнеса в первый месяц регистрации!</p>
      </div>
      <div class="main-slide__button-list">
        <button class="btn btn--yellow main-slide__button-item main-slide__button-item--buy">Начать покупать</button>
        <button class="btn btn--grey main-slide__button-item main-slide__button-item-sell">Начать продавать</button>
      </div>
    </div>
  </div>
</section>
